.table-responsive
    .sticky-col
      position: sticky
      left: 0
      z-index: 1 // Sicherstellen, dass die Spalte über anderen Zellen bleibt
      //background-color: #fff; // Hintergrundfarbe festlegen, um überlappende Inhalte zu vermeiden
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1) // Schatten hinzufügen, um den sticky Effekt hervorzuheben

      // Optional: Hervorhebung für Benutzer
      font-weight: bold
      text-align: left