extends layout

block meta
    title Password Reset | Surveyor

block title
    h1(class="card-header text-center") Forgot Your Password?

block content
    form(action="/users/forgot-password" method="POST")
        .mb-3
            label(for="username" class="form-label") Enter your username:
            input#username.form-control.text-bg-dark(type="text" name="username" placeholder="Username" required)
        button.btn.btn-primary.btn-block(type="submit") Send Reset Link
        p.text-center.mt-3
            a(href="/users/login") Back to Login
