extend layout.pug

block meta
    title Login | Surveyor

block title
    h1(class="card-header text-center") Login

block content
    //Login form
    form(action="/users/login", method="post")
        div(class="form-group")
            label(for="username") Username
            input(type="text", class="form-control text-bg-dark", id="username", name="username", value=(data && data.username) ? data.username : "", required)
        div(class="form-group")
            label(for="password") Password
            input(type="password", class="form-control text-bg-dark", id="password", name="password", required)
        button(type="submit", class="btn btn-primary mt-1") Login