extends layout

block meta
    title Reset Password | Surveyor

block title
    h1(class="card-header text-center") Reset Your Password

block content
    form(action=`/auth/reset-password/${token}` method="POST")
        .mb-3
            label(for="password" class="form-label") New Password:
            input#password.form-control.text-bg-dark(type="password" name="password" placeholder="Enter new password" minlength="8" required)
        .mb-3
            label(for="confirmPassword" class="form-label") Confirm New Password:
            input#confirmPassword.form-control.text-bg-dark(type="password" name="confirmPassword" placeholder="Confirm new password" minlength="8" required)
        button.btn.btn-primary.btn-block(type="submit") Change Password
        p.text-center.mt-3
            a(href="/auth/login") Back to Login
