extends ../../layout

block meta
    title Participants Export

block content
    h1 Participants
    table.table.table-striped
        thead
            tr
                th Name
                th Email
                th Arrival
                th Departure
        tbody
            //- Rows filled server-side in real implementation
