//- views/dashboard.pug  – überarbeitetes User-Dashboard
extends ../layout

block meta
    title My Dashboard | Surveyor

block title
    h1.card-header.text-center
        i.bi.bi-house-door-fill.me-2
        | Welcome, #{user.name || user.username}!

block content
    .accordion.accordion-dark#entityLists
        +entityList(
            'sec-surveys',
            'Your surveys',
            'bi-clipboard-data',
            data.surveys,
            'survey',
            '/survey/create',
            'Create new survey',
            'bi-plus-circle',
            'You don’t have any surveys yet.',
            'bi-clipboard-check'
        )

        +entityList(
            'sec-pack',
            'Your packing lists',
            'bi-box-seam',
            data.packlists,
            'packing',
            '/packing/create',
            'Create new packing list',
            'bi-plus-circle',
            'You don’t have any packing lists yet.',
            'bi-bag-check'
        )

        +entityList(
            'sec-activity',
            'Your activity plans',
            'bi-calendar',
            data.activityplans,
            'activity',
            '/activity/create',
            'Create new activity plan',
            'bi-calendar-plus',
            'You don’t have any activity plans yet.',
            'bi-calendar-check'
        )

        +entityList(
            'sec-drivers',
            'Your drivers lists',
            'bi-car-front',
            data.driverslists,
            'drivers',
            '/drivers/create',
            'Create new drivers list',
            'bi-plus-circle',
            'You don’t have any drivers lists yet.',
            'bi-car-front'
        )

block scripts
    script(type="module" src="/js/user-dashboard.gen.js")